# Manipulação de arrays Numpy

### Importando o NumPy

In [1]:
# Importando o NumPy
import numpy as np

### Alterando, adicionando e removendo elementos

In [2]:
# Criando um array de 1 dimensão
a1D = np.random.randint(1,200, 12)
a1D

array([138, 111,  78,  97,  13, 151, 135, 131,  21,   8,  37, 156])

In [3]:
# Criando um array de 2 dimensões
a2D = np.random.randint(1,200, (3,4))
a2D

array([[ 28,  28, 175, 119],
       [ 81,   2,  47,  13],
       [168, 147, 110,   8]])

In [4]:
# Criando um array de 3 dimensões
a3D = np.random.randint(1,200, (2,3,6)) # 2 páginas/faces, 3 linhas, 6 colunas
a3D

array([[[132, 155, 182, 172, 152,  54],
        [ 29, 145,  13, 166,  39, 184],
        [ 28, 100,  86, 164, 149, 140]],

       [[ 68,  10,  24, 150, 171,  86],
        [183, 140,  55, 195, 181,  57],
        [107, 166,  78, 104,  52, 130]]])

In [5]:
# Alterando o elemento do índice 0
a1D[0] = -1
a1D

array([ -1, 111,  78,  97,  13, 151, 135, 131,  21,   8,  37, 156])

In [6]:
# Alterando o elemento da linha 1, coluna 2
a2D[1][2] = -1
a2D

array([[ 28,  28, 175, 119],
       [ 81,   2,  -1,  13],
       [168, 147, 110,   8]])

In [7]:
# Alterando o elemento da face 1, linha 2, coluna 4
a3D[1][2][4] = -1
a3D

array([[[132, 155, 182, 172, 152,  54],
        [ 29, 145,  13, 166,  39, 184],
        [ 28, 100,  86, 164, 149, 140]],

       [[ 68,  10,  24, 150, 171,  86],
        [183, 140,  55, 195, 181,  57],
        [107, 166,  78, 104,  -1, 130]]])

In [8]:
# Retorna array com elementos adicionados no final
a1D_modificado = np.append(a1D, [100, 130])
a1D_modificado

array([ -1, 111,  78,  97,  13, 151, 135, 131,  21,   8,  37, 156, 100,
       130])

In [9]:
a1D # a1D não foi modificado

array([ -1, 111,  78,  97,  13, 151, 135, 131,  21,   8,  37, 156])

In [10]:
a2D_modificado = np.append(a2D, [100, 130]) # Lineariza a2D e insere os elementos no final
a2D_modificado

array([ 28,  28, 175, 119,  81,   2,  -1,  13, 168, 147, 110,   8, 100,
       130])

In [11]:
a2D # a2D não foi modificado

array([[ 28,  28, 175, 119],
       [ 81,   2,  -1,  13],
       [168, 147, 110,   8]])

In [12]:
a3D_modificado = np.append(a3D, [100, 130]) # Lineariza a3D e insere os elementos no final
a3D_modificado

array([132, 155, 182, 172, 152,  54,  29, 145,  13, 166,  39, 184,  28,
       100,  86, 164, 149, 140,  68,  10,  24, 150, 171,  86, 183, 140,
        55, 195, 181,  57, 107, 166,  78, 104,  -1, 130, 100, 130])

In [13]:
a3D # a3D não foi modificado

array([[[132, 155, 182, 172, 152,  54],
        [ 29, 145,  13, 166,  39, 184],
        [ 28, 100,  86, 164, 149, 140]],

       [[ 68,  10,  24, 150, 171,  86],
        [183, 140,  55, 195, 181,  57],
        [107, 166,  78, 104,  -1, 130]]])

In [14]:
a1D_modificado2 = np.delete(a1D_modificado, [0, 1, 3])
print(a1D_modificado)
print(a1D_modificado2)

[ -1 111  78  97  13 151 135 131  21   8  37 156 100 130]
[ 78  13 151 135 131  21   8  37 156 100 130]

### Comparação entre arrays

In [15]:
a1D = np.array([1, 2, 3, 4, 5])
b1D = np.array([3, 2, 1, 4, 5])
a1D == b1D # Comparação elemento a elemento

array([False,  True, False,  True,  True])

In [16]:
c1D = np.random.randint(1,10,20)
c1D

array([7, 6, 3, 5, 6, 1, 9, 1, 6, 6, 8, 9, 3, 3, 3, 1, 8, 8, 2, 6])

In [17]:
c1D == 5

array([False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [18]:
c1D[c1D == 5]

array([5])

### Operações entre arrays e escalares

In [19]:
a1D = np.arange(1,11)
a1D

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [20]:
b1D = np.arange(1,20,2)
b1D

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [21]:
c1D = 2 * a1D # Cada elemento de a1D será multiplicado por 2
c1D

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [22]:
d1D = b1D + 5 # Soma 5 para cada elemento de b1D
d1D

array([ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [23]:
e1D = b1D - 3
e1D

array([-2,  0,  2,  4,  6,  8, 10, 12, 14, 16])

In [24]:
f1D = a1D / 5
f1D

array([0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ])

In [25]:
celsius = np.arange(-20, 36) # Cria um array com o valores de -20 a 35, representando a temperatura em graus Celsius
fahrenheit = celsius * (9/5) + 32 # Cria um array convertendo cada valor em Celsius para fahrenheit

fahrenheit

array([-4. , -2.2, -0.4,  1.4,  3.2,  5. ,  6.8,  8.6, 10.4, 12.2, 14. ,
       15.8, 17.6, 19.4, 21.2, 23. , 24.8, 26.6, 28.4, 30.2, 32. , 33.8,
       35.6, 37.4, 39.2, 41. , 42.8, 44.6, 46.4, 48.2, 50. , 51.8, 53.6,
       55.4, 57.2, 59. , 60.8, 62.6, 64.4, 66.2, 68. , 69.8, 71.6, 73.4,
       75.2, 77. , 78.8, 80.6, 82.4, 84.2, 86. , 87.8, 89.6, 91.4, 93.2,
       95. ])

In [26]:
# Somando cada elemento de a1D a b1D
g1D = a1D + b1D
print(a1D)
print(b1D)
print("-"*31)
print(g1D)

[ 1  2  3  4  5  6  7  8  9 10]
[ 1  3  5  7  9 11 13 15 17 19]
-------------------------------
[ 2  5  8 11 14 17 20 23 26 29]

In [27]:
# Outra forma de somar cada elemento de a1D a b1D
h1D = np.add(a1D, b1D)
print(a1D)
print(b1D)
print("-"*31)
print(h1D)

[ 1  2  3  4  5  6  7  8  9 10]
[ 1  3  5  7  9 11 13 15 17 19]
-------------------------------
[ 2  5  8 11 14 17 20 23 26 29]

In [28]:
i1D = h1D - g1D
print(h1D)
print(g1D)
print("-"*31)
print(i1D)

[ 2  5  8 11 14 17 20 23 26 29]
[ 2  5  8 11 14 17 20 23 26 29]
-------------------------------
[0 0 0 0 0 0 0 0 0 0]

In [29]:
# Outra forma de somar cada elemento de a1D a b1D
j1D = np.subtract(h1D, g1D)
print(h1D)
print(g1D)
print("-"*31)
print(j1D)

[ 2  5  8 11 14 17 20 23 26 29]
[ 2  5  8 11 14 17 20 23 26 29]
-------------------------------
[0 0 0 0 0 0 0 0 0 0]

In [30]:
a1D = np.arange(1, 6)
a1D

array([1, 2, 3, 4, 5])

In [31]:
b1D = np.arange(6,11)
b1D

array([ 6,  7,  8,  9, 10])

In [32]:
c1D = a1D * b1D
c1D

array([ 6, 14, 24, 36, 50])

In [33]:
d1D = np.multiply(a1D, b1D)
d1D

array([ 6, 14, 24, 36, 50])

In [34]:
e1D = c1D / a1D
e1D

array([ 6.,  7.,  8.,  9., 10.])

In [35]:
f1D = np.divide(c1D, a1D)
f1D

array([ 6.,  7.,  8.,  9., 10.])

In [36]:
g1D = np.arange(1,10)
g1D

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
raiz1D = np.sqrt(g1D)
raiz1D

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        ])

### Algumas funções

In [38]:
d2D = np.random.randint(1, 101, (5,10)) # Array de 5 linhas x 10 colunas preenchidos com valores aleatórios entre 1 e 100
d2D

array([[84, 78, 31, 65, 46, 20, 12, 87, 27, 88],
       [29, 27, 95, 76, 72, 17, 46, 41, 88, 88],
       [61, 57, 12, 20, 35,  7, 49, 73, 96, 36],
       [23, 93, 36, 87, 57, 81, 80, 16, 37, 97],
       [86, 27, 68, 86, 43, 96, 54, 50, 41, 88]])

#### Obs: como os valores valores são gerados aleatoriamente, sua matriz provavelmente será diferente da gerada acima

In [39]:
# Soma de todos os elementos
d2D.sum()

2809

In [40]:
# Soma de todos os elementos de cada coluna (eixo 0)
d2D.sum(axis = 0)

array([283, 282, 242, 334, 253, 221, 241, 267, 289, 397])

In [41]:
# Soma de todos os elementos de cada linha (eixo 1)
d2D.sum(axis = 1)

array([538, 579, 446, 607, 639])

In [42]:
somacol = sum(d2D) # A função sum() do Python retornará a soma de todas as colunas
somacol

array([283, 282, 242, 334, 253, 221, 241, 267, 289, 397])

In [43]:
# Retorna o menor valor geral
d2D.min()

7

In [44]:
# Retorna o menor valor de cada coluna (eixo 0)
d2D.min(axis=0)

array([23, 27, 12, 20, 35,  7, 12, 16, 27, 36])

In [45]:
# Retorna o menor valor de cada linha (eixo 1)
d2D.min(axis=1)

array([12, 17,  7, 16, 27])

In [46]:
# Retorna o maior valor geral
d2D.max()

97

In [47]:
# Retorna o maior valor de cada coluna (eixo 0)
d2D.max(axis=0)

array([86, 93, 95, 87, 72, 96, 80, 87, 96, 97])

In [48]:
# Retorna o maior valor de cada linha (eixo 1)
d2D.max(axis=1)

array([88, 95, 96, 97, 96])

In [49]:
# Retorna a soma cumulativa
d2D.cumsum()

array([  84,  162,  193,  258,  304,  324,  336,  423,  450,  538,  567,
        594,  689,  765,  837,  854,  900,  941, 1029, 1117, 1178, 1235,
       1247, 1267, 1302, 1309, 1358, 1431, 1527, 1563, 1586, 1679, 1715,
       1802, 1859, 1940, 2020, 2036, 2073, 2170, 2256, 2283, 2351, 2437,
       2480, 2576, 2630, 2680, 2721, 2809], dtype=int32)

In [50]:
# Retorna a soma cumulativa para cada coluna (eixo = 0)
d2D.cumsum(axis = 0)

array([[ 84,  78,  31,  65,  46,  20,  12,  87,  27,  88],
       [113, 105, 126, 141, 118,  37,  58, 128, 115, 176],
       [174, 162, 138, 161, 153,  44, 107, 201, 211, 212],
       [197, 255, 174, 248, 210, 125, 187, 217, 248, 309],
       [283, 282, 242, 334, 253, 221, 241, 267, 289, 397]], dtype=int32)

In [51]:
d2D

array([[84, 78, 31, 65, 46, 20, 12, 87, 27, 88],
       [29, 27, 95, 76, 72, 17, 46, 41, 88, 88],
       [61, 57, 12, 20, 35,  7, 49, 73, 96, 36],
       [23, 93, 36, 87, 57, 81, 80, 16, 37, 97],
       [86, 27, 68, 86, 43, 96, 54, 50, 41, 88]])

In [52]:
# Retorna a soma cumulativa para cada linha (eixo = 1)
x = d2D.cumsum(axis = 1)
x

array([[ 84, 162, 193, 258, 304, 324, 336, 423, 450, 538],
       [ 29,  56, 151, 227, 299, 316, 362, 403, 491, 579],
       [ 61, 118, 130, 150, 185, 192, 241, 314, 410, 446],
       [ 23, 116, 152, 239, 296, 377, 457, 473, 510, 607],
       [ 86, 113, 181, 267, 310, 406, 460, 510, 551, 639]], dtype=int32)

In [53]:
# Retorna a média aritmética
d2D.mean()

56.18

In [54]:
# Retorna a média aritmética para cada coluna (eixo = 0)
d2D.mean(axis = 0)

array([56.6, 56.4, 48.4, 66.8, 50.6, 44.2, 48.2, 53.4, 57.8, 79.4])

In [55]:
# Retorna a média aritmética para cada linha (eixo = 1)
d2D.mean(axis = 1)

array([53.8, 57.9, 44.6, 60.7, 63.9])

In [56]:
# Retorna o desvio padrão
d2D.std()

27.82638316418431

In [57]:
# Retorna o desvio padrão para cada coluna (eixo = 0)
d2D.std(axis = 0)

array([26.55258933, 26.59022377, 29.45233437, 24.71760506, 12.81561547,
       36.73363581, 21.72924297, 24.80806321, 28.40704138, 21.97817099])

In [58]:
# Retorna o desvio padrão para cada linha (eixo = 1)
d2D.std(axis = 1)

array([28.43167248, 27.57698316, 26.71778434, 29.05529212, 22.84491191])

In [59]:
# Retorna a mediana (geral)
np.median(d2D)

55.5

In [60]:
# Retorna a mediana para cada coluna (eixo = 0)
np.median(d2D, axis = 0)

array([61., 57., 36., 76., 46., 20., 49., 50., 41., 88.])

In [61]:
# Retorna a mediana para cada linha (eixo = 1)
np.median(d2D, axis = 1)

array([55.5, 59. , 42.5, 68.5, 61. ])

### Copiando e concatenando arrays

In [62]:
a2D = np.random.randint(1,50, (4,5))
a2D

array([[41, 35, 25, 46, 43],
       [34, 21,  5,  2, 47],
       [32, 24, 39, 16, 39],
       [41, 32, 41, 40, 47]])

In [63]:
b2D = np.random.randint(50,100, (4,5))
b2D

array([[96, 93, 63, 82, 72],
       [55, 54, 97, 85, 76],
       [58, 92, 87, 61, 55],
       [65, 91, 65, 86, 60]])

In [64]:
c2D = a2D
c2D

array([[41, 35, 25, 46, 43],
       [34, 21,  5,  2, 47],
       [32, 24, 39, 16, 39],
       [41, 32, 41, 40, 47]])

In [65]:
# Aparentemente ocorreu uma cópia dos arrays, mas veja o que acontece se alterarmos alguns elementos
c2D[c2D < 20] = -1
c2D

array([[41, 35, 25, 46, 43],
       [34, 21, -1, -1, 47],
       [32, 24, 39, -1, 39],
       [41, 32, 41, 40, 47]])

In [66]:
a2D

array([[41, 35, 25, 46, 43],
       [34, 21, -1, -1, 47],
       [32, 24, 39, -1, 39],
       [41, 32, 41, 40, 47]])

Os elementos de a2D também foram alterados. :-(

In [67]:
# Redefinindo os elementos de a2D
a2D = np.random.randint(1,50, (4,5))
a2D

array([[49, 47, 23, 40,  4],
       [14, 47, 35, 19, 14],
       [16, 23, 48, 48, 32],
       [14, 44, 39, 33, 48]])

In [68]:
# Forma correta de copiar um array parece que com a forma de copiar uma lista
c2D = a2D.copy()
c2D

array([[49, 47, 23, 40,  4],
       [14, 47, 35, 19, 14],
       [16, 23, 48, 48, 32],
       [14, 44, 39, 33, 48]])

In [69]:
c2D[c2D < 20] = -1
c2D

array([[49, 47, 23, 40, -1],
       [-1, 47, 35, -1, -1],
       [-1, 23, 48, 48, 32],
       [-1, 44, 39, 33, 48]])

In [70]:
a2D

array([[49, 47, 23, 40,  4],
       [14, 47, 35, 19, 14],
       [16, 23, 48, 48, 32],
       [14, 44, 39, 33, 48]])

Agora sim!!!

### Ordenando os elementos de um array

In [71]:
a1D = np.random.randint(1,100, 15)
a1D

array([87,  7, 26, 16, 11, 42, 53, 82, 96, 33, 95, 38, 30, 77, 89])

In [72]:
a1D.sort()
a1D

array([ 7, 11, 16, 26, 30, 33, 38, 42, 53, 77, 82, 87, 89, 95, 96])

In [73]:
a2D = np.random.randint(1,100, (6,10))
a2D

array([[24, 94, 48, 27, 54, 21, 38, 25, 40, 33],
       [20, 86, 61,  7, 70, 94, 90, 51, 91, 18],
       [29, 83, 44,  6, 37, 67, 36, 46, 60, 53],
       [11, 66, 90, 45, 51, 54,  4, 96,  9, 29],
       [65, 33, 13, 60, 37, 36, 85, 78, 67, 76],
       [ 4, 61, 11, 67, 97, 79, 93, 94, 48, 65]])

In [74]:
a2D.sort() # Por padrão ordena o maior eixo (nesse caso o eixo 1, linhas)
a2D

array([[21, 24, 25, 27, 33, 38, 40, 48, 54, 94],
       [ 7, 18, 20, 51, 61, 70, 86, 90, 91, 94],
       [ 6, 29, 36, 37, 44, 46, 53, 60, 67, 83],
       [ 4,  9, 11, 29, 45, 51, 54, 66, 90, 96],
       [13, 33, 36, 37, 60, 65, 67, 76, 78, 85],
       [ 4, 11, 48, 61, 65, 67, 79, 93, 94, 97]])

In [75]:
a2D.sort(axis=0) # Ordenando pelo eixo 0 (colunas)
a2D

array([[ 4,  9, 11, 27, 33, 38, 40, 48, 54, 83],
       [ 4, 11, 20, 29, 44, 46, 53, 60, 67, 85],
       [ 6, 18, 25, 37, 45, 51, 54, 66, 78, 94],
       [ 7, 24, 36, 37, 60, 65, 67, 76, 90, 94],
       [13, 29, 36, 51, 61, 67, 79, 90, 91, 96],
       [21, 33, 48, 61, 65, 70, 86, 93, 94, 97]])

In [76]:
a2D = np.random.randint(1,100, (6,10))
a2D

array([[71, 36, 18,  5, 75, 30, 86, 44, 50, 52],
       [69, 36, 28, 79, 22, 52, 59, 75, 14, 66],
       [35, 58, 29, 38, 70, 75, 60, 89, 31, 49],
       [83, 34, 98, 92, 71, 69, 14, 91, 40, 49],
       [48, 75, 33, 77, 58, 62, 28, 49, 45, 84],
       [77, 63, 68, 45, 26, 37, 11, 85,  9, 84]])

In [77]:
a2D.sort(axis=1) # Ordenando pelo eixo 1 (linhas)
a2D

array([[ 5, 18, 30, 36, 44, 50, 52, 71, 75, 86],
       [14, 22, 28, 36, 52, 59, 66, 69, 75, 79],
       [29, 31, 35, 38, 49, 58, 60, 70, 75, 89],
       [14, 34, 40, 49, 69, 71, 83, 91, 92, 98],
       [28, 33, 45, 48, 49, 58, 62, 75, 77, 84],
       [ 9, 11, 26, 37, 45, 63, 68, 77, 84, 85]])

### Transposição de arrays

In [78]:
a2D = np.array([[1,2,3,4],[5,6,7,8]])
a2D

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [79]:
a2DT = a2D.T # Retorna a transposta
a2DT

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [80]:
a2D # a2D original não foi transposto

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [81]:
a2D.transpose() # Retorna a transposta

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [82]:
a2D # a2D original não foi transposto

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

### Mudando o formato de um array - reshape()

In [83]:
a1D = np.arange(1,25)
a1D

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [84]:
print(a1D.shape)
a1D.shape = (2,12)
print(a1D.shape)
print(a1D)

(24,)
(2, 12)
[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [85]:
a2D_4x6 = a1D.reshape(4,6) #reshape ele não aplica definitivamente.
a2D_4x6

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [86]:
a1D

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [87]:
a2D_3x8 = a1D.reshape(3,8)
a2D_3x8

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24]])

### Linearização de um array

In [88]:
x = a2D_3x8.flatten()
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [89]:
y = a2D_3x8.ravel()
y

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

### Combinando/concatenando arrays

In [90]:
a2D = np.random.randint(1,101,(3,9))
a2D

array([[65, 73, 54, 34, 90,  2,  1, 66, 86],
       [69, 84, 84, 64, 27, 55, 37, 97, 25],
       [86, 42, 71, 14,  6, 31, 39, 76, 37]])

In [91]:
b2D = np.random.randint(1,101,(5,9))
b2D

array([[96, 66, 80,  1, 23, 14, 33,  1, 70],
       [75, 25, 68, 32, 84, 61, 47, 30, 21],
       [85, 68, 21, 52, 86, 97, 44,  1, 45],
       [16, 12, 93, 41, 23, 33, 81, 51, 82],
       [31, 61, 72, 11, 27, 20,  5, 53, 40]])

In [92]:
c2D = np.random.randint(1,101,(5,4))
c2D

array([[53, 56, 91, 70],
       [31, 91, 77, 25],
       [97, 95, 63, 78],
       [98, 81, 98, 83],
       [19,  1, 13, 16]])

In [93]:
# Concatenação de strings usa o operador "+"
str1 = "Python"
str2 = " & "
str3 = "Numpy"
str4 = str1 + str2 + str3
str4

'Python & Numpy'

In [ ]:
# O operador "+" aplicado a ndarrays não faz a concatenação, mas tentar somar elemento a elemento
a2D + b2D

In [95]:
A = np.concatenate((a2D, b2D), axis = 0) # Concatenando pelo eixo das colunas (eixo 0) (empilhamento vertical) 
print("a2D")
print(a2D)
print("")
print("b2D")
print(b2D)
print("")
print("Concatenação")
print(A)

a2D
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]]

b2D
[[96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

Concatenação
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]
 [96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

In [96]:
B = np.vstack((a2D, b2D)) # Concatenando pelo eixo das colunas (eixo 0) (empilhamento vertical) 
print("a2D")
print(a2D)
print("")
print("b2D")
print(b2D)
print("")
print("Concatenação")
print(B)

a2D
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]]

b2D
[[96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

Concatenação
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]
 [96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

In [97]:
C = np.concatenate((b2D, c2D), axis = 1) # Concatenando pelo eixo das linhas (eixo 1) (empilhamento horizontal) 
print("b2D")
print(b2D)
print("")
print("c2D")
print(c2D)
print("")
print("Concatenação")
print(C)

b2D
[[96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

c2D
[[53 56 91 70]
 [31 91 77 25]
 [97 95 63 78]
 [98 81 98 83]
 [19  1 13 16]]

Concatenação
[[96 66 80  1 23 14 33  1 70 53 56 91 70]
 [75 25 68 32 84 61 47 30 21 31 91 77 25]
 [85 68 21 52 86 97 44  1 45 97 95 63 78]
 [16 12 93 41 23 33 81 51 82 98 81 98 83]
 [31 61 72 11 27 20  5 53 40 19  1 13 16]]

In [98]:
D = np.hstack((b2D, c2D)) # Concatenando pelo eixo das linhas (eixo 1) (empilhamento horizontal) 
print("b2D")
print(b2D)
print("")
print("c2D")
print(c2D)
print("")
print("Concatenação")
print(D)

b2D
[[96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

c2D
[[53 56 91 70]
 [31 91 77 25]
 [97 95 63 78]
 [98 81 98 83]
 [19  1 13 16]]

Concatenação
[[96 66 80  1 23 14 33  1 70 53 56 91 70]
 [75 25 68 32 84 61 47 30 21 31 91 77 25]
 [85 68 21 52 86 97 44  1 45 97 95 63 78]
 [16 12 93 41 23 33 81 51 82 98 81 98 83]
 [31 61 72 11 27 20  5 53 40 19  1 13 16]]

### Dividindo arrays

In [99]:
A_splitted = np.vsplit(A,2) # Divisáo vertical (corta no sentido das colunas)
print("Array original")
print(A)
print("")
print("1a parte")
print(A_splitted[0])
print("")
print("2a parte")
print(A_splitted[1])

Array original
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]
 [96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

1a parte
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]
 [96 66 80  1 23 14 33  1 70]]

2a parte
[[75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

In [100]:
A_splitted3 = np.hsplit(A,3) # Divisão horizontal (corta no sentido das linhas)
print("Array original")
print(A)
print("")
print("1a parte")
print(A_splitted3[0])
print("")
print("2a parte")
print(A_splitted3[1])
print("")
print("3a parte")
print(A_splitted3[2])

Array original
[[65 73 54 34 90  2  1 66 86]
 [69 84 84 64 27 55 37 97 25]
 [86 42 71 14  6 31 39 76 37]
 [96 66 80  1 23 14 33  1 70]
 [75 25 68 32 84 61 47 30 21]
 [85 68 21 52 86 97 44  1 45]
 [16 12 93 41 23 33 81 51 82]
 [31 61 72 11 27 20  5 53 40]]

1a parte
[[65 73 54]
 [69 84 84]
 [86 42 71]
 [96 66 80]
 [75 25 68]
 [85 68 21]
 [16 12 93]
 [31 61 72]]

2a parte
[[34 90  2]
 [64 27 55]
 [14  6 31]
 [ 1 23 14]
 [32 84 61]
 [52 86 97]
 [41 23 33]
 [11 27 20]]

3a parte
[[ 1 66 86]
 [37 97 25]
 [39 76 37]
 [33  1 70]
 [47 30 21]
 [44  1 45]
 [81 51 82]
 [ 5 53 40]]

In [109]:
b2D = np.random.randint(1,101,(2,5,9))
b2D
x = b2D.flatten()
x
y = b2D.ravel()
y
print("Array randomico")
print("--"*32)
print(b2D)
print("--"*32)
print("Array Linearizando com Flatten")
print("--"*32)
print(x)
print("--"*32)
print("Array Linearizando com Ravel")
print("--"*32)
print(y)
print("--"*32)

[[[ 21  14  55  60   3  49  47  99  72]
  [ 66  96  78  35  35   1  48 100  40]
  [ 47  29   4  85  62  76  12   1  34]
  [ 60  76  77  80  77  20   2   1  37]
  [  1  91  47  31  90  52  41  69   7]]

 [[ 16  21  98  12  95  58  17  36  67]
  [ 27  36  31  92  17  71  74  82  51]
  [ 34  12  80   8  99  43  62  69  59]
  [ 63   8  98  79  68  22  73  40  97]
  [ 49   8   3   8   5  40  61  34  48]]]
----------------------------------------------------------------
[ 21  14  55  60   3  49  47  99  72  66  96  78  35  35   1  48 100  40
  47  29   4  85  62  76  12   1  34  60  76  77  80  77  20   2   1  37
   1  91  47  31  90  52  41  69   7  16  21  98  12  95  58  17  36  67
  27  36  31  92  17  71  74  82  51  34  12  80   8  99  43  62  69  59
  63   8  98  79  68  22  73  40  97  49   8   3   8   5  40  61  34  48]
[[[ 21  14  55  60   3  49  47  99  72]
  [ 66  96  78  35  35   1  48 100  40]
  [ 47  29   4  85  62  76  12   1  34]
  [ 60  76  77  80  77  20   2   1  37]
  [  1  91  47  31  90  52  41  69   7]]

 [[ 16  21  98  12  95  58  17  36  67]
  [ 27  36  31  92  17  71  74  82  51]
  [ 34  12  80   8  99  43  62  69  59]
  [ 63   8  98  79  68  22  73  40  97]
  [ 49   8   3   8   5  40  61  34  48]]]
----------------------------------------------------------------
[ 21  14  55  60   3  49  47  99  72  66  96  78  35  35   1  48 100  40
  47  29   4  85  62  76  12   1  34  60  76  77  80  77  20   2   1  37
   1  91  47  31  90  52  41  69   7  16  21  98  12  95  58  17  36  67
  27  36  31  92  17  71  74  82  51  34  12  80   8  99  43  62  69  59
  63   8  98  79  68  22  73  40  97  49   8   3   8   5  40  61  34  48]
----------------------------------------------------------------
[ 21  14  55  60   3  49  47  99  72  66  96  78  35  35   1  48 100  40
  47  29   4  85  62  76  12   1  34  60  76  77  80  77  20   2   1  37
   1  91  47  31  90  52  41  69   7  16  21  98  12  95  58  17  36  67
  27  36  31  92  17  71  74  82  51  34  12  80   8  99  43  62  69  59
  63   8  98  79  68  22  73  40  97  49   8   3   8   5  40  61  34  48]